* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightpink;
}

.container {
    max-width: 30%;
    margin: 30px auto;
    border: 2px solid green;
}

.heading {
    background-color:purple;
    text-align: center;
    color: white;
    font-weight: bolder;
    padding: 5px;
    border-bottom: 2px solid green;
}

.Home-link {
    background-color: lightgreen;
    padding: 5px;
    border: 1px solid red;
}

.content {
    background-color: bisque;
    padding: 1em;
}

.content .image {
    display: block;
    margin: 0px auto;
    max-width: 90%;
}

.content h2 {
    padding: 10px 0px;
}

.list {
    padding-left: 16px;
}

.main-list {
    width: 200px;
    margin: 0px auto;
}

.list .item {
    color: blue;
    margin: 0px auto;
}

.list .number {
    padding: 2px 0px;
}

.main-list .item {
    margin-bottom: 5px;
}
